In [10]:
import pandas as pd
import numpy as np

In [2]:
myList = [['Apple','Red'],['Banana','Yellow'],['Orange','Orange']]

In [5]:
myDataFrame = pd.DataFrame(myList)
myDataFrame

        0       1
0   Apple     Red
1  Banana  Yellow
2  Orange  Orange

In [8]:
myDataFrame = pd.DataFrame(myList, columns=['Fruit','Color'])
myDataFrame

    Fruit   Color
0   Apple     Red
1  Banana  Yellow
2  Orange  Orange

In [13]:
# Using numpy array
myData = np.array([[0,1],[2,3],[4,6]])

myDataFrame = pd.DataFrame(myData, columns=['Even','Odd'])
myDataFrame

   Even  Odd
0     0    1
1     2    3
2     4    6

In [17]:
# Using dictionaries
myDictionaries = {'Fruite':['Banana','Cokelat','Strawberry'], 'Color':['Yellow','Cokelat','Pink']}
myDataFrame = pd.DataFrame(myDictionaries)
myDataFrame

       Fruite    Color
0      Banana   Yellow
1     Cokelat  Cokelat
2  Strawberry     Pink

In [40]:
df = pd.read_csv('diabetes.csv')
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [42]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [44]:
df[['Glucose','Age']]

     Glucose  Age
0        148   50
1         85   31
2        183   32
3         89   21
4        137   33
..       ...  ...
763      101   63
764      122   27
765      121   30
766      126   47
767       93   23

[768 rows x 2 columns]

In [47]:
condition = df['Age'] > 65
df[condition]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
123,5,132,80,0,0,26.8,0.186,69,0
221,2,158,90,0,0,31.6,0.805,66,1
363,4,146,78,0,0,38.5,0.520,67,1
453,2,119,0,0,0,19.6,0.832,72,0
459,9,134,74,33,60,25.9,0.460,81,0
489,8,194,80,0,0,26.1,0.551,67,0
495,6,166,74,0,0,26.6,0.304,66,0
537,0,57,60,0,0,21.7,0.735,67,0
552,6,114,88,0,0,27.8,0.247,66,0
666,4,145,82,18,0,32.5,0.235,70,1
674,8,91,82,0,0,35.6,0.587,68,0
684,5,136,82,0,0,0.0,0.640,69,0
759,6,190,92,0,0,35.5,0.278,66,1

In [50]:
df[(df['Age'] < 30) & (df['BMI'] < 20)]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
33,6,92,92,0,0,19.9,0.188,28,0
49,7,105,0,0,0,0.0,0.305,24,0
50,1,103,80,11,82,19.4,0.491,22,0
60,2,84,0,0,0,0.0,0.304,21,0
68,1,95,66,13,38,19.6,0.334,25,0
81,2,74,0,0,0,0.0,0.102,22,0
90,1,80,55,0,0,19.1,0.258,21,0
145,0,102,75,23,0,0.0,0.572,21,0
239,0,104,76,0,0,18.4,0.582,27,0
371,0,118,64,23,89,0.0,1.731,21,0
418,1,83,68,0,0,18.2,0.624,27,0
426,0,94,0,0,0,0.0,0.256,25,0
438,1,97,70,15,0,18.2,0.147,21,0
494,3,80,0,0,0,0.0,0.174,22,0
522,6,114,0,0,0,0.0,0.189,26,0
526,1,97,64,19,82,18.2,0.299,21,0
607,1,92,62,25,41,19.5,0.482,25,0
639,1,100,74,12,46,19.5,0.149,28,0

In [55]:
df.drop(763, axis=0, inplace=True)
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
6,3,78,50,32,88,31.0,0.248,26,1
...,...,...,...,...,...,...,...,...,...
762,9,89,62,0,0,22.5,0.142,33,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [61]:
# Add coloumn to dDataFrame
# df.head()
# df['My coloumn'] = ['A','B','C','D']

In [62]:
df.sort_values(by='BMI')

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
684,5,136,82,0,0,0.0,0.640,69,0
145,0,102,75,23,0,0.0,0.572,21,0
371,0,118,64,23,89,0.0,1.731,21,0
60,2,84,0,0,0,0.0,0.304,21,0
426,0,94,0,0,0,0.0,0.256,25,0
...,...,...,...,...,...,...,...,...,...
120,0,162,76,56,100,53.2,0.759,25,1
125,1,88,30,42,99,55.0,0.496,26,1
673,3,123,100,35,240,57.3,0.880,22,0
445,0,180,78,63,14,59.4,2.420,25,1
177,0,129,110,46,130,67.1,0.319,26,1

In [63]:
df.sort_values(by='BMI', ascending=False)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
177,0,129,110,46,130,67.1,0.319,26,1
445,0,180,78,63,14,59.4,2.420,25,1
673,3,123,100,35,240,57.3,0.880,22,0
125,1,88,30,42,99,55.0,0.496,26,1
120,0,162,76,56,100,53.2,0.759,25,1
...,...,...,...,...,...,...,...,...,...
426,0,94,0,0,0,0.0,0.256,25,0
81,2,74,0,0,0,0.0,0.102,22,0
684,5,136,82,0,0,0.0,0.640,69,0
145,0,102,75,23,0,0.0,0.572,21,0
522,6,114,0,0,0,0.0,0.189,26,0

In [64]:
# Save DataFrame to CSV
df.to_csv('MyFilecsv', index_label=False)

In [65]:
newDf = pd.read_csv('MyFilecsv')
newDf

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
6,3,78,50,32,88,31.0,0.248,26,1
...,...,...,...,...,...,...,...,...,...
762,9,89,62,0,0,22.5,0.142,33,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [66]:
df1 = df[5:10]
df1

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1
10,4,110,92,0,0,37.6,0.191,30,0
11,10,168,74,0,0,38.0,0.537,34,1

In [70]:
df2 = df[200:205]
df2

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
202,0,108,68,20,0,27.3,0.787,32,0
203,2,99,70,16,44,20.4,0.235,27,0
204,6,103,72,32,190,37.7,0.324,55,0
205,5,111,72,28,0,23.9,0.407,27,0
206,8,196,76,29,280,37.5,0.605,57,1

In [71]:
pd.concat([df1,df1], axis=1)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
7,10,115,0,0,0,35.3,0.134,29,0,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1,8,125,96,0,0,0.0,0.232,54,1
10,4,110,92,0,0,37.6,0.191,30,0,4,110,92,0,0,37.6,0.191,30,0
11,10,168,74,0,0,38.0,0.537,34,1,10,168,74,0,0,38.0,0.537,34,1

In [74]:
df
df.groupby(['Outcome']).count()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,498,498,498,498,498,498,498,498
1,267,267,267,267,267,267,267,267